%li
  .message_header
    .message_title= link_to message.title, message
    = render "created", object: message
  .message_content
    - if message.content.length <= 500
      = message.content
    - else
      = message.content[0,500] + "..."  
  .message_footer
    .more
      = image_tag "message/lup.png"
      = link_to "Подробнее", message
    .comments_count
      = image_tag "message/comment.png"
      = link_to "Комментариев: #{message.comments.count}", |
        message_path(message, anchor: "comments")         |
  .message_border
    .left_border
    .right_border
    .center_border