- provide(:title, @message.title)
%h1= @message.title
.message_content= @message.content
.message_panel
  = render "comment_form"
  = render "created", object: @message
  %h2= "Комментариев: #{@message.comments.count}"
.comments
  = will_paginate @comments
  = render @comments
  = will_paginate @comments
