.header
  .left_logo
    = image_tag("header/Ethic_Evil.png")
    = image_tag("header/WarParty.png")
  .center_logo= image_tag("header/Logo.png")
  .right_logo
    = image_tag("header/Ethic_Good.png")
    = image_tag("header/Industrialist.png")